In [1]:
import pandas as pd
import re
import matplotlib.pyplot as plt
#import seaborn as sns

In [33]:
df = pd.read_excel("Decoder+TOC.xlsx")
df.head()

,Shelfmark,To Date,Wright Section,Wright Sub-Section,MC,Liturgical,Scientific,Biblical,Individual Theology,Other,Authors,Volume,pages,length,firstpage,lastpage,Wright’s Numeration,From Date,Dated,Wright's Dating
0,"Add.12,133,foll.109-169",799,Biblical Manuscripts,Old Testament,False,False,False,True,False,False,NaN,1,31-32,1,31,32.0,LI,701,False,8c
1,"Add.12,133,foll.1-108",799,Biblical Manuscripts,Old Testament,False,False,False,True,False,False,NaN,1,7-8,1,7,8.0,IX,701,False,8c(early)
2,"Add.12,134",697,Biblical Manuscripts,Old Testament,False,False,False,True,False,False,NaN,1,29-31,2,29,31.0,XLIX,697,True,697
3,"Add.12,135,foll.1-43",726,Biblical Manuscripts,Old Testament,False,False,False,True,False,False,NaN,1,24-26,2,24,26.0,XL,726,True,726
4,"Add.12,135,foll.44-207",611,Theology (Individual),Individual Authors,False,False,False,False,True,False,Cyril of Alexandria,2,486-487,1,486,487.0,DCXIII,611,True,611

In [34]:
df.loc[df['MC'] == True, 'Genre'] = 'Monastic Compilation' 
df.loc[df['Liturgical'] == True, 'Genre'] = 'Liturgy' 
df.loc[df['Scientific'] == True, 'Genre'] = 'Scientific' 
df.loc[df['Biblical'] == True, 'Genre'] = 'Biblical' 
df.loc[df['Individual Theology'] == True, 'Genre'] = 'Individual Theology'
df.loc[df['Other'] == True, 'Genre'] = 'Other'

#df.set_index("Shelfmark", inplace=True)
df.head()

,Shelfmark,To Date,Wright Section,Wright Sub-Section,MC,Liturgical,Scientific,Biblical,Individual Theology,Other,...,Volume,pages,length,firstpage,lastpage,Wright’s Numeration,From Date,Dated,Wright's Dating,Genre
0,"Add.12,133,foll.109-169",799,Biblical Manuscripts,Old Testament,False,False,False,True,False,False,...,1,31-32,1,31,32.0,LI,701,False,8c,Biblical
1,"Add.12,133,foll.1-108",799,Biblical Manuscripts,Old Testament,False,False,False,True,False,False,...,1,7-8,1,7,8.0,IX,701,False,8c(early),Biblical
2,"Add.12,134",697,Biblical Manuscripts,Old Testament,False,False,False,True,False,False,...,1,29-31,2,29,31.0,XLIX,697,True,697,Biblical
3,"Add.12,135,foll.1-43",726,Biblical Manuscripts,Old Testament,False,False,False,True,False,False,...,1,24-26,2,24,26.0,XL,726,True,726,Biblical
4,"Add.12,135,foll.44-207",611,Theology (Individual),Individual Authors,False,False,False,False,True,False,...,2,486-487,1,486,487.0,DCXIII,611,True,611,Individual Theology

In [15]:
type(df["To Date"][0])

int

In [29]:
df.columns

Index(['To Date', 'Wright Section', 'Wright Sub-Section', 'MC', 'Liturgical',
       'Scientific', 'Biblical', 'Individual Theology', 'Other', 'Authors',
       'Volume', 'pages', 'length', 'firstpage', 'lastpage',
       'Wright’s Numeration', 'From Date', 'Dated', 'Wright's Dating',
       'Genre'],
      dtype='object')

In [35]:
tr = df
tr.drop(['Wright Section', 'Wright Sub-Section', 'MC', 'Liturgical', 'Scientific', 'Biblical', 'Individual Theology', 'Other', 'Authors',
        'Volume', 'pages', 'length', 'firstpage', 'lastpage', 'Wright’s Numeration', 'From Date', 'Dated', 'Wright\'s Dating'], axis=1, inplace=True)
tr.head()

                 Shelfmark To Date                Genre
0  Add.12,133,foll.109-169     799             Biblical
1    Add.12,133,foll.1-108     799             Biblical
2               Add.12,134     697             Biblical
3     Add.12,135,foll.1-43     726             Biblical
4   Add.12,135,foll.44-207     611  Individual Theology

In [40]:
tr.boxplot(by="Genre")

ValueError: num must be 1 <= num <= 0, not 1

In [23]:
tr = df["To Date"]["Genre"]
tr.plot.bar()

KeyError: 'Genre'

In [9]:
df.groupby("Genre").count()

,Shelfmark,To Date,Wright Section,Wright Sub-Section,MC,Liturgical,Scientific,Biblical,Individual Theology,Other,Authors,Volume,pages,length,firstpage,lastpage,Wright’s Numeration,From Date,Dated,Wright's Dating
Genre,,,,,,,,,,,,,,,,,,,,
Biblical,200,200,200,200,200,200,200,200,200,200,0,200,200,200,200,200,200,200,200,200
Individual Theology,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192,192
Liturgy,349,349,349,349,349,349,349,349,349,349,0,349,349,349,349,349,349,349,349,349
Monastic Compilation,175,175,175,175,175,175,175,175,175,175,0,175,175,175,175,175,175,175,175,175
Other,62,62,62,62,62,62,62,62,62,62,0,62,62,62,62,62,62,62,62,62
Scientific,57,57,57,57,57,57,57,57,57,57,0,57,57,57,57,57,57,57,57,57