In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import xml.etree.ElementTree as ET

C:\Users\noammaeir\Downloads\Anaconda\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [30]:
folder = 'BL data' #path begins in root of project
authors_list = []
for filename in os.listdir(folder):
    s= get_authors(folder, filename) 
    if s is not None:
        authors_list.append(s)

C:\Users\noammaeir\Downloads\Anaconda\lib\site-packages\ipykernel_launcher.py:12: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  if sys.path[0] == '':

In [123]:
df = pd.DataFrame(authors_list)
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
BL Add MS 12133 (1.xml),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BL Add MS 12178 (10.xml),Solomon,Jesus the son of Sirach,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BL Add MS 14438 (100.xml),Ephraim,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BL Add MS 17225 (1002.xml),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BL Add MS 17226 (1003.xml),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
for s in authors_list:
    if s.name.count('12155')>0:
        print(s)

In [29]:
def get_authors(folder, filename): # e.g.:'BL data', '39.xml'
    tree = ET.parse(f'{folder}/{filename}')
    root = tree.getroot()
    title = ''
    for item in root.iter('{http://www.tei-c.org/ns/1.0}titleStmt'):
        title=item[0].text
    if title.startswith('BL Add MS'): #check the xml is of BL manuscript:
        authors = []
        for item in root.iter('{http://www.tei-c.org/ns/1.0}author'):
            if item.text != 'William Wright' and item.text is not None:
                authors.append(item.text)
        s = pd.Series(authors, name=f'{title} ({filename})')
        return s

In [24]:
tree = ET.parse('BL data/54.xml')
root = tree.getroot()

In [25]:
title = ''
for item in root.iter('{http://www.tei-c.org/ns/1.0}titleStmt'):
    title=item[0].text
title

'BL Add MS 12170'

In [31]:
authors = []
for item in root.iter('{http://www.tei-c.org/ns/1.0}author'):
    if item.text != 'William Wright' and item.text is not None:
        authors.append(item.text)
    
authors

['Isaiah of Scete',
 'John Chrysostom',
 'Palladius',
 '\n                                    ',
 '\n                                    ',
 '\n                                    ',
 '\n                                    ',
 '\n                                    ',
 '\n                                        ',
 '\n                                        ',
 '\n                                        ',
 'Athanasius']

In [27]:
for item in root.iter('{http://www.tei-c.org/ns/1.0}idno'):
        if 'type' in item.attrib.keys():
            if 'Wright-BL-Roman' in item.attrib['type']:
                print(item.text)

DLXXV
DCCLXXIV
DCCLXXV

In [33]:
root.find('{http://www.tei-c.org/ns/1.0}idno')

In [34]:
for item in root.iter('{http://www.tei-c.org/ns/1.0}author'):
    if item.text != 'William Wright' and item.text is not None:
        print(item.attrib)

{'ref': 'http://syriaca.org/person/548'}
{'ref': 'http://syriaca.org/person/573'}
{'ref': 'http://syriaca.org/person/668'}
{'ref': 'http://syriaca.org/person/44'}
{'ref': 'http://syriaca.org/person/44'}
{}
{'ref': 'http://syriaca.org/person/44'}
{'ref': 'http://syriaca.org/person/430'}
{}
{'ref': 'http://syriaca.org/person/13'}
{'ref': 'http://syriaca.org/person/513'}
{'ref': 'http://syriaca.org/person/1014'}